.container {
  flex-shrink: 0;
  margin: 0 auto;
  padding-top: 50px;
}
.formStyle {
  width: 1335px;
  height: 105px;

  background: rgba(255, 255, 255, 0.5);
  /* background: red; */
  box-shadow: 0px 4px 59px 0px rgba(50, 50, 71, 0.06),
    0px 4px 103px 0px rgba(50, 50, 71, 0.01);
}
.formContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.formFirst {
  display: flex;
}
.formSearch {
  display: flex;
  flex-direction: row;
}
.searchBar {
  border: 1px solid var(--merak-concrete, #b7b7ba);
  background: #fff;
  padding: 2px 5px;
}
.removeBorder {
  border: none;
  outline: none;
}
